*{
    box-sizing: border-box;
   }
html{
  
    background-image: url("./image.png");
    background-repeat: no-repeat;
       background-size: cover;
       height: 100%;
       width: 100%;
       
}


   .cover {
    
    flex-direction: column;
    position: relative;/*il faut la mettre car elle est parent de logo est logo doit etre en position absolute  */
    max-width: 90em;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
   align-items: center;
   /* border:5px solid black ;
   padding: 9px; 
   height:70% ;
   width:70% ; */  
  
  
   
   
  
    
  }   
  label{
  position: relative;
  
  }
  .icn{
    color: rgb(10, 11, 12);
    position: absolute;
   font-size: 20px;/* taill de icon */
    left: 0.7em;
    top: 1.55em;
     color: #939599;
    
  } 
  
  .login input {  
    background-color: #D9D9D9;
    border-color: darkblue;
    width: 100%;
    padding: 0.5rem;
    border-radius: 1.7em;
    border: 1px solid #ccc;
    padding-left: 45px;  
    box-sizing: border-box;
    height: 3em;
  }
  
  
  
  
  .lien{
  width: 100%;
  margin-top: -1em;
  color:#214CD1;
  }
  .lien:hover{
    color: black;
  }
  
  .login {
    background-color: rgba(217, 217, 217, 0.7);
   opacity: 0.9;/*fait de le transparent allont de 0 a 1 */ 
    width: 400px;
    height:550px;
      padding: 2rem;
    border: 1px solid #EBEBEB;
    border-radius: 3.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
  
    margin-top: 6em;   
  
  }

  @media screen and (max-width: 827px) and (min-width:672px){
  .login{
    width: 49%;
  }
  .title{
    font-size: 1.7em;
  }
  } 
  
  @media screen and (max-width:672px ) and (min-width:610px) {
    .login{
      width: 49%;
      height: 480px;
      margin-top: 10em;
    }
    .title{
      font-size: 1.5em;
    }
  }

  @media screen and (max-width:610px ) and (min-width:445px) {
    .login{
      width: 304px;
      height: 450px;
      margin-top: 10em;

    }
    .title{
      font-size: 1.4em;
    }
    .connexion p{
       font-size: 13px;
    }
  }
   
  @media screen and (max-width:444px) and (min-width:414px) {
    .login{
      width: 65%;
      height: 400px;
      margin-top: 10em;

    }
    .title{
      font-size: 1.3em;
    }
    .connexion p{
      display: none;
    }
  }  

 @media screen and (max-width:414px) {
.login{
width: 95%;
height: 30em;
border-radius: 0;
margin-top: 11em;

}
.connexion p{
  display: none;
}
 }
 @media screen and (max-width:395px)
 {         
  .login{
    width: 95%;
    border-radius: 0;
    margin-top: 11em;
    }
    .title{
      font-size: 24.6px;
    }

 }

  
  
  
  .login label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  
  
  
  
  .title { 
   margin: 0;
}


  
  .btn {
    
    background-color: #214CD1;
    box-shadow: 0px 0px 3px 1px #214CD1 ;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;                           
    height: 3em;

  }
  
  .btn:hover{
    background-color: #2600ff;
  
  }
  
  .facebook, .insta {
    margin-right: 0.5rem;
    background-color: #D9D9D9   ;
  }
  .bot h5{
    color: #363B58;
font-size: 13px; 
margin-top: 0.2em;
 }
 .btn h5{
  font-size: 16px; 
  margin-top: 0.2em;
  margin-right: 1.5em;

 }
  
  .facebook {
    border-radius: 1.1em;
    width: 100%;
    height: 3em;
    cursor: pointer;
    text-align: center;

  }
  
  .insta {
    border-radius: 1.1em;
    width: 100%;
    height: 3em;
    cursor: pointer;
    text-align: center;

  
  }
  
  .bot {
    display:flex;
    margin-top: 0;
    justify-content: space-between;
    gap: 1vw;/*fait l'espace avec d'autre element*/
   margin-left: -0.4em;
   width: 100%;
  } 
  
  .logo {
    position: absolute;/*postioner  par aport a son parent (cover)  */
    top: 0;/* 0 par aport en haut de cover */
    left:0;/*0  par aport en gauche de cover*/
    /*  il ya right et bottom (en bas) */
    z-index: 1;/* postioner en bas de son parent */  
    margin-bottom: 1rem;
  } 
  
  
  .connexion p{
    margin-top: 1.5em;
margin-right: -2.7em;

  }
  .connexion{
    display: flex;
      position: absolute;
      top: 0;
      right: 0;
    gap: 1em;
    margin-right: 1em;
  }
  
   
  .ou {
    text-align: center;
    margin: 0;
  }
  
  .cnct{
    background-color: #3b5998;
    color: white;
    border-radius: 1.1em;
    width: 8em;
    height: 3em;
    cursor: pointer;
    margin: 1em;
  
  }
  .img{
    position:relative;
    width: 100%;
  height: auto;
  
  }
  
  .fa-solid fa-money-bill{
  font-size: 200px;
  position :absolute;
  top:0px;
  left:0px
  
  
  }
  .inscrire{
margin-top: 1em;
margin-left: 0.5em;

  }

  .btn_inscr{

    margin-top: 0.3em;
    margin-left: 2.5em;
    background-color: #214CD1;
    box-shadow: 0px 0px 3px 1px #214CD1 ;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 9em;
    height: 3em;
  }
  
  #err_M1{
   color: red;
   margin-top: -3em;
   margin-left: -9.1em;
   font-size: 0.75em;
  }
  #err_M2{
    color: red;
    margin: 0;
    font-size: 0.75em;
   }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  